@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
	font-family: 'Comfortaa', cursive;
	font-size: 100%;
}
 
.lead {
	font-size: 20px;
}

.jumbotron {
	  background-image: url("/static/banner04.jpg");
	  height: 400px;
	  width: 100%;
	  max-height: 50%;
	  max-width: 100%;
	  min-height: 20%;
	  min-width: 30%;
}